{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- Favicon and Icons -->
<link rel="icon" type="image/svg+xml" href="{{ base_path }}/images/safari-pinned-tab.svg?v=2025a">
<link rel="shortcut icon" href="{{ base_path }}/images/favicon.ico?v=2025a">
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon-180x180.png?v=2025a">
<link rel="manifest" href="{{ base_path }}/images/manifest.json?v=2025a">
<link rel="mask-icon" href="{{ base_path }}/images/safari-pinned-tab.svg?v=2025a" color="#000000">
<meta name="theme-color" content="#ffffff">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="{{ base_path }}/images/mstile-144x144.png?v=2025a">
<meta name="msapplication-config" content="{{ base_path }}/images/browserconfig.xml?v=2025a">

<!-- end custom head snippets -->
