{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- Favicon and site icons -->
<link rel="icon" href="/images/safari-pinned-tab.svg" type="image/svg+xml">
<link rel="shortcut icon" href="{{ base_path }}/images/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="{{ base_path }}/images/safari-pinned-tab.svg">
<link rel="manifest" href="{{ base_path }}/images/manifest.json">
<meta name="theme-color" content="#ffffff"/>

<!-- end custom head snippets -->
