---
layout: archive
title: "Essays"
excerpt: "Essays"
permalink: /essays/
author_profile: true
---

<blockquote style="color:#A9A9A9; font-size: 1.4em; font-style: italic; font-weight: bold;">
  “Ang Pagsusulat ay paulit-ulit na pagsasanay rin sa mga kabiguan.”
  <br>
  <cite style="font-size: 0.85em; font-style: normal;">
  Edgar Calabia Samar, <em>Pitumpung Patnubay sa Paglikha ng Palagiang Panahon</em><br>
  In this blog I share some of my essays and other written works.
  </cite>
</blockquote>

{% include base_path %}
{% assign essays_sorted = site.essays | sort: 'date' | reverse %}
{% capture written_year %}'None'{% endcapture %}
{% for post in essays_sorted %}
  {% include archive-nodate.html %}
{% endfor %}
