---
layout: archive
permalink: /essay-by-category/
title: "Essay Collections by Category"
author_profile: true
---

{% include base_path %}
{% include group-by-array collection=site.essays field="tags" %}

<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,700&display=swap" rel="stylesheet">

<aside class="sidebar__right">
  <nav class="toc">
    <header>
      <h4 class="nav__title">
        <i class="fa fa-file-text"></i> Table of Contents
      </h4>
    </header>
    <ul class="toc__menu">
      {% assign sorted_tags = group_names | sort %}
      {% for tag in sorted_tags %}
        <li><a href="#{{ tag | slugify }}">{{ tag }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</aside>

{% for tag in group_names %}
  {% assign posts = group_items[forloop.index0] | sort: "date" | reverse %}
  <h2 id="{{ tag | slugify }}" class="archive__subtitle"><i class="fa-solid fa-pen-nib"></i> {{ tag }}</h2>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}
