{% include base_path %}

<section class="page__share">
  {% if site.data.ui-text[site.locale].share_on_label %}
    <h4 class="page__share-title">{{ site.data.ui-text[site.locale].share_on_label | default: "Share on" }}</h4>
  {% endif %}

  <a href="https://twitter.com/intent/tweet?text={{ base_path }}{{ page.url }}" class="btn btn--twitter" title="{{ site.data.ui-text[site.locale].tweet_on_label | default: 'Tweet on' }} Twitter"><i class="fab fa-twitter" aria-hidden="true"></i><span> Twitter</span></a>

  <a href="https://www.facebook.com/sharer/sharer.php?u={{ base_path }}{{ page.url }}" class="btn btn--facebook" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Facebook"><i class="fab fa-facebook" aria-hidden="true"></i><span> Facebook</span></a>

  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ base_path }}{{ page.url }}" class="btn btn--linkedin" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} LinkedIn"><i class="fab fa-linkedin" aria-hidden="true"></i><span> LinkedIn</span></a>

  <a href="mailto:?" class="btn btn--envelope" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" data-placement="top" title="Share by Email" class="hover-effect-big"> <i class="fa fa-envelope fa-fw" aria-hidden="true"></i><span> Share by Email</span></a>

<html>
<head>
  <title>Copy To Clipboard JavaScript | Rustcode</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/link.css">
</head>
<body>

<div class="container">
  <textarea placeholder="Message" cols="30" rows="10" class="copy-text"></textarea>
  <button class="copy-btn">Copy</button>
</div>

<script src="/assets/js/link.js"></script>
</body>
</html>

</section>
